/* --- GAYA TOMBOL DINAMIS (ANTI BOCOR) --- */
.btn-dinamis {
    display: block;
    width: 200px; /* <--- Pastikan ada titik koma di sini! */
    white-space: nowrap;
    margin: 0 auto; /* <--- Pastikan ada titik koma di sini! */
    
    transition: all 0.2s ease-in;
    
    /* DUA BARIS INI ADALAH KUNCI AGAR TIDAK BOCOR: */
    position: relative !important; /* Sebagai "Jangkar" animasi */
    overflow: hidden !important;   /* Sebagai "Gunting" animasi yang keluar batas */
    
    z-index: 1;
    color: #090909 !important;
    padding: 0.7em 1.7em;
    font-size: 15px;
    cursor: pointer;
    border-radius: 0.5em;
    background: #e8e8e8 !important;
    border: 1px solid #e8e8e8 !important;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    font-weight: bold;
    text-align: center;
}

.btn-dinamis:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.btn-dinamis:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn-dinamis:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #0d6efd;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn-dinamis:hover {
    color: #ffffff !important;
    border: 1px solid #0d6efd !important;
}

.btn-dinamis:hover:before, 
.btn-dinamis:hover:after {
    top: -45%;
    background-color: #0d6efd;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
